### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
